# registry=http://artifactory.dev.pcep.cloud/npm-group/
registry=https://registry.npmjs.org/
link-workspace-packages = true
# 每个package拥有自己的lockfile -- pnpm初始装包虽然很快，但是随着包的数量增加，需要分析log，会导致很慢
shared-workspace-lockfile = false
auto-install-peers = true